Repository artefactory/vertex-pipelines-deployer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-isort, ruff-format, ruff-check, nbstripout, codespell

ruff-isort:
  name: ruff isort
  entry: poetry run ruff check --fix --select I --config pyproject.toml --show-fixes
  language: system
  stages:
  - commit
  - push

ruff-format:
  name: ruff format
  entry: poetry run ruff format --config pyproject.toml
  language: system
  stages:
  - commit
  - push

ruff-check:
  name: ruff check
  entry: poetry run ruff check --config pyproject.toml
  language: system
  stages:
  - commit
  - push

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: poetry run nbstripout
  language: system
  stages:
  - commit
  - push

codespell:
  name: codespell markdown
  entry: poetry run codespell -S CHANGELOG.md
  language: system
  stages:
  - commit
  - push

build: drop Python 3.8/3.9, add 3.13 support
  .github/workflows/ci.yaml
  pyproject.toml
  uv.lock
Due: none

build: apply manual tweaks and exclude uv.lock from VCS
  .gitignore
  CONTRIBUTING.md
  Makefile
  pyproject.toml
  uv.lock
Due: codespell

fix: update broken documentation URL in skaff config (#241)
  .github/workflows/ci.yaml
  .github/workflows/deploy_docs.yaml
  .skaff/skaff.yaml
Due: none

build: migrate from poetry to uv
  .github/workflows/ci.yaml
  .github/workflows/deploy_docs.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  README.md
  pyproject.toml
  uv.lock
Due: codespell

fix: address CI failures and PR review feedback
  .github/workflows/ci.yaml
  .github/workflows/deploy_docs.yaml
  Makefile
  pyproject.toml
Due: none

fix: pin click<8.2 for typer 0.12 compatibility
  pyproject.toml
Due: none

fix: use --project instead of --directory for uv run in CI
  .github/workflows/ci.yaml
Due: none

fix: add PYTHONPATH for CLI integration tests
  .github/workflows/ci.yaml
Due: none

chore: use version tag for astral-sh/setup-uv
  .github/workflows/ci.yaml
  .github/workflows/deploy_docs.yaml
Due: none

build: migrate from Poetry to uv, drop Python 3.8/3.9 (#243)
  .github/workflows/ci.yaml
  .github/workflows/deploy_docs.yaml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  README.md
  pyproject.toml
Due: codespell

build(deps): update dependency version ranges and semantic-release action
  .github/workflows/release.yaml
  pyproject.toml
Due: none

docs: add CLAUDE.md based on contributing guidelines
  CLAUDE.md
Due: codespell

fix: revert click upper bound to <8.2 (typer incompatibility)
  pyproject.toml
Due: none

docs: add CLAUDE.md and remove redundant ruff isort pre-commit hook
  .pre-commit-config.yaml
  CLAUDE.md
Due: codespell

docs: add PR and issue template conventions to CLAUDE.md
  CLAUDE.md
Due: codespell

docs: add CLAUDE.md and remove redundant ruff isort pre-commit hook (#247)
  .pre-commit-config.yaml
  CLAUDE.md
Due: codespell

ci: pin python-semantic-release action to commit hash
  .github/workflows/release.yaml
Due: none

docs: regenerate CLI reference for typer 0.15.x
  docs/CLI_REFERENCE.md
Due: codespell

build(deps): consolidate dependency updates (#245)
  .github/workflows/release.yaml
  docs/CLI_REFERENCE.md
  pyproject.toml
Due: codespell

ci: add empty files
  deployer/_templates/github-cd.yml
  deployer/_templates/gitlab-ci.yml
Due: none

refactor: improve CI/CD template code organization and modularity
  deployer/cli.py
  deployer/constants.py
  deployer/init_deployer.py
  tests/integration_tests/test_init.py
Due: ruff-isort, ruff-format, ruff-check

feat: add GitHub Actions and GitLab CI CD templates to init command
  deployer/_templates/github-cd.yml
  deployer/_templates/github-cd.yml.jinja
  deployer/_templates/gitlab-ci.yml
  deployer/_templates/gitlab-ci.yml.jinja
  deployer/cli.py
  deployer/constants.py
  deployer/init_deployer.py
  tests/integration_tests/test_init.py
Due: ruff-isort, ruff-format, ruff-check

fix: display 'none' instead of 'CICDProvider.skip' in CI/CD prompt
  deployer/init_deployer.py
Due: ruff-isort, ruff-format, ruff-check

feat: add GitHub Actions and GitLab CI CD templates to init command (#209)
  deployer/_templates/github-cd.yml.jinja
  deployer/_templates/gitlab-ci.yml.jinja
  deployer/cli.py
  deployer/constants.py
  deployer/init_deployer.py
  tests/integration_tests/test_init.py
Due: ruff-isort, ruff-format, ruff-check

docs: fix outdated references and add missing documentation
  CONTRIBUTING.md
  Makefile
  README.md
  docs/advanced/advanced_user_guide.md
  docs/advanced/configuration.md
  docs/advanced/python_api.md
  docs/advanced/scheduling.md
  docs/usage.md
  mkdocs.yml
Due: codespell

docs: address review feedback on examples
  docs/advanced/configuration.md
  docs/advanced/python_api.md
  docs/advanced/scheduling.md
Due: codespell

docs: fix outdated references and add missing documentation (#248)
  CONTRIBUTING.md
  Makefile
  README.md
  docs/advanced/advanced_user_guide.md
  docs/advanced/configuration.md
  docs/advanced/python_api.md
  docs/advanced/scheduling.md
  docs/usage.md
  mkdocs.yml
Due: codespell

chore(release): 1.0.0
  CHANGELOG.md
  deployer/__init__.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, codespell

ci: fix twine PEP 639 error and remove pr_agent workflow
  .github/workflows/pr_agent.yaml
  .github/workflows/release.yaml
Due: none

fix: set version to 0.6.1 and prevent major bump on 0.x
  deployer/__init__.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check

ci: fix twine PEP 639 error and remove pr_agent workflow (#250)
  .github/workflows/pr_agent.yaml
  .github/workflows/release.yaml
  deployer/__init__.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check

Path conditions:
  ruff-isort: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  nbstripout: any of: (.ipynb)$
  codespell: any of: \.(md|markdown|mdown)$
