Repository artefactory/vertex-pipelines-deployer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-isort, ruff-format, ruff-check, nbstripout, codespell

ruff-isort:
  name: ruff isort
  entry: poetry run ruff check --fix --select I --config pyproject.toml
  language: system
  stages:
  - commit
  - push

ruff-format:
  name: ruff format
  entry: poetry run ruff format --config pyproject.toml
  language: system
  stages:
  - commit
  - push

ruff-check:
  name: ruff check
  entry: poetry run ruff check --config pyproject.toml
  language: system
  stages:
  - commit
  - push

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: poetry run nbstripout
  language: system
  stages:
  - commit
  - push

codespell:
  name: codespell markdown
  entry: poetry run codespell -S CHANGELOG.md
  language: system
  stages:
  - commit
  - push

Create .skaff/skaff.yaml
  .skaff/skaff.yaml
Due: none

chore: create .skaff/skaff.yaml (#172)
  .skaff/skaff.yaml
Due: none

ci: upload to pypi and update project metadata
  .github/workflows/release.yaml
  pyproject.toml
Due: none

fix: better exception message when validating deployer settings
  deployer/settings.py
Due: ruff-isort, ruff-format, ruff-check

fix: ruff 0.3.0 lint settings
  deployer/utils/utils.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check

fix: error message
  deployer/settings.py
Due: ruff-isort, ruff-format, ruff-check

docs: update documentation using typer utils docs
  deployer/cli.py
  docs/CLI_REFERENCE.md
Due: ruff-isort, ruff-format, ruff-check, codespell

chore: better exception message when validating deployer settings (#163)
  deployer/settings.py
Due: ruff-isort, ruff-format, ruff-check

fix: check cmd when --all is passed
  deployer/cli.py
Due: ruff-isort, ruff-format, ruff-check

docs: add style and logos
  README.md
  docs/assets/Artefact-AI-is-about-People-logo-1200x424.png
  docs/assets/artefact-favicon.png
  docs/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
  pyproject.toml
Due: codespell

docs: update get started
  README.md
  docs/index.md
  docs/install.md
  mkdocs.yml
Due: codespell

docs: rm watch
  mkdocs.yml
Due: none

build(deps): vertex-deployer version free
  example/requirements.txt
Due: none

ci: upload to pypi (#167)
  .github/workflows/release.yaml
  pyproject.toml
Due: none

docs: update docs for public release (#174)
  README.md
  docs/assets/Artefact-AI-is-about-People-logo-1200x424.png
  docs/assets/artefact-favicon.png
  docs/index.md
  docs/install.md
  docs/stylesheets/extra.css
  mkdocs.yml
  pyproject.toml
Due: codespell

ci: check cli documentation is up to date
  .pre-commit-config.yaml
Due: none

chore: add fixme msg in code when warning and error in check cmd
  deployer/cli.py
Due: ruff-isort, ruff-format, ruff-check

ci: pre-push stage for pre-commit hooks in ci
  Makefile
Due: none

ci: check cli documentation is up to date (#178)
  .pre-commit-config.yaml
  Makefile
Due: none

init more modular and templates
  deployer/cli.py
  deployer/constants.py
  deployer/templates/Dockerfile
  deployer/templates/Makefile
  deployer/templates/cloudbuild_local.yaml
  deployer/utils/config.py
  deployer/utils/console.py
  deployer/utils/init.py
Due: ruff-isort, ruff-format, ruff-check

templates for dockerfile, build and script
  deployer/cli.py
  deployer/templates/Dockerfile.jinja
  deployer/templates/build_base_image.jinja
  deployer/templates/cloudbuild_local.jinja
  deployer/templates/requirements.txt
  deployer/utils/init.py
Due: ruff-isort, ruff-format, ruff-check

fix: example substitutions
  example/Makefile
  example/vertex/deployment/cloudbuild_local.yaml
Due: none

added jinja to poetry
  pyproject.toml
Due: none

enhance: naming, only vertex path
  deployer/_templates/Dockerfile.jinja
  deployer/_templates/build_base_image.sh.jinja
  deployer/_templates/cloudbuild_local.yaml.jinja
  deployer/_templates/deployer-requirements.txt
  deployer/cli.py
  deployer/constants.py
  deployer/settings.py
  deployer/templates/Makefile
  deployer/utils/console.py
  deployer/utils/initiation.py
Due: ruff-isort, ruff-format, ruff-check

enhance templates
  .pre-commit-config.yaml
  README.md
  deployer/_templates/json_config.json
  deployer/_templates/pipeline_minimal.py.jinja
  deployer/_templates/python_config.py
  deployer/_templates/toml_config.toml
  deployer/cli.py
  deployer/constants.py
  deployer/utils/initiation.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, codespell

fix: integration test, divergent signatures
  deployer/utils/console.py
  tests/integration_tests/test_configuration.py
Due: ruff-isort, ruff-format, ruff-check

fix: hack for vertex_folder_path
  deployer/cli.py
  deployer/constants.py
  deployer/pipeline_checks.py
  deployer/settings.py
  deployer/utils/config.py
  deployer/utils/console.py
  deployer/utils/initiation.py
  docs/CLI_REFERENCE.md
  tests/integration_tests/test_configuration.py
  tests/unit_tests/test_settings.py
Due: ruff-isort, ruff-format, ruff-check, codespell

fix: hack default fields
  deployer/settings.py
  deployer/utils/initiation.py
Due: ruff-isort, ruff-format, ruff-check

fix: interaction with lib
  deployer/_templates/Dockerfile.jinja
  deployer/_templates/deployer-requirements.txt
  deployer/_templates/deployer-requirements.txt.jinja
  deployer/_templates/deployer.env.jinja
  deployer/constants.py
  deployer/utils/initiation.py
Due: ruff-isort, ruff-format, ruff-check

fix vertex-deployer version in requirements
  deployer/_templates/deployer-requirements.txt.jinja
Due: none

fix: local_package_path assigned dynmically
  README.md
  deployer/cli.py
  deployer/constants.py
  deployer/pipeline_deployer.py
  deployer/settings.py
  docs/CLI_REFERENCE.md
  tests/unit_tests/test_settings.py
Due: ruff-isort, ruff-format, ruff-check, codespell

fix: enable caching should be set at none by default
  deployer/cli.py
  deployer/pipeline_deployer.py
  deployer/settings.py
  docs/CLI_REFERENCE.md
Due: ruff-isort, ruff-format, ruff-check, codespell

fix: enable caching default behavior (#177)
  deployer/cli.py
  deployer/pipeline_deployer.py
  deployer/settings.py
  docs/CLI_REFERENCE.md
Due: ruff-isort, ruff-format, ruff-check, codespell

chore(release): 0.4.4
  CHANGELOG.md
  deployer/__init__.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, codespell

better templates
  deployer/_templates/components/dummy_component.py.jinja
  deployer/_templates/configs/json_config.json.jinja
  deployer/_templates/configs/python_config.py.jinja
  deployer/_templates/configs/toml_config.toml.jinja
  deployer/_templates/deployer-requirements.txt.jinja
  deployer/_templates/deployment/Dockerfile.jinja
  deployer/_templates/deployment/build_base_image.sh.jinja
  deployer/_templates/deployment/cloudbuild_local.yaml.jinja
  deployer/_templates/json_config.json
  deployer/_templates/pipeline_minimal.py.jinja
  deployer/_templates/pipelines/pipeline_minimal.py.jinja
  deployer/_templates/python_config.py
  deployer/_templates/requirements-vertex.txt.jinja
  deployer/_templates/toml_config.toml
Due: ruff-isort, ruff-format, ruff-check

fix: post review
  .pre-commit-config.yaml
  deployer/cli.py
  deployer/constants.py
  deployer/init_deployer.py
  deployer/utils/config.py
  deployer/utils/initiation.py
Due: ruff-isort, ruff-format, ruff-check

removed extra index url, now pypi
  deployer/_templates/requirements-vertex.txt.jinja
Due: none

fix: remove circular import
  deployer/cli.py
  deployer/init_deployer.py
Due: ruff-isort, ruff-format, ruff-check

fix: exception moved and optim constants
  deployer/cli.py
  deployer/constants.py
  deployer/init_deployer.py
  deployer/utils/exceptions.py
Due: ruff-isort, ruff-format, ruff-check

fix: literal eval removed
  deployer/constants.py
  deployer/init_deployer.py
  deployer/utils/console.py
Due: ruff-isort, ruff-format, ruff-check

Path conditions:
  ruff-isort: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  nbstripout: any of: (.ipynb)$
  codespell: any of: \.(md|markdown|mdown)$
