Repository artefactory/vertex-pipelines-deployer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-isort, ruff-format, ruff-check, nbstripout, codespell

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
default_stages: [commit, push]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-toml
    - id: check-json
    - id: check-added-large-files
  - repo: local
    hooks:
    - id: ruff-isort
      name: ruff isort
      entry: poetry run ruff check --fix --select I --config pyproject.toml
      types: [python]
      language: system
      stages: [commit, push]
    - id: ruff-format
      name: ruff format
      entry: poetry run ruff format --config pyproject.toml
      types: [python]
      language: system
      stages: [commit, push]
    - id: ruff-check
      name: ruff check
      entry: poetry run ruff check --config pyproject.toml
      types: [python]
      language: system
      stages: [commit, push]
    - id: nbstripout
      name: Strip Jupyter notebook output (nbstripout)
      entry: poetry run nbstripout
      types: [file]
      files: (.ipynb)$
      language: system
      stages: [commit, push]
    - id: codespell
      name: codespell markdown
      entry: poetry run codespell -S CHANGELOG.md
      types: [markdown]
      language: system
      stages: [commit, push]

ci: use ruff for formatting (#144)
  .pre-commit-config.yaml
  deployer/utils/utils.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check

chore(release): 0.4.1
  CHANGELOG.md
  deployer/__init__.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, codespell

enh: default values in pipeline are taken into account in check
  deployer/pipeline_checks.py
  deployer/settings.py
  deployer/utils/models.py
Due: ruff-isort, ruff-format, ruff-check

enh: add default values warning to check table
  deployer/cli.py
  deployer/constants.py
  deployer/pipeline_checks.py
  deployer/utils/utils.py
Due: ruff-isort, ruff-format, ruff-check

enh: add cli argument to warn for defaults values
  deployer/cli.py
  deployer/settings.py
  deployer/utils/models.py
Due: ruff-isort, ruff-format, ruff-check

enh: add cli argument to raise exceptions for default values
  deployer/cli.py
  deployer/pipeline_checks.py
  deployer/settings.py
  deployer/utils/models.py
Due: ruff-isort, ruff-format, ruff-check

fix: pr agent comments
  deployer/pipeline_checks.py
  deployer/utils/models.py
Due: ruff-isort, ruff-format, ruff-check

enh: handle default values (#148)
  deployer/cli.py
  deployer/constants.py
  deployer/pipeline_checks.py
  deployer/settings.py
  deployer/utils/models.py
  deployer/utils/utils.py
Due: ruff-isort, ruff-format, ruff-check

enh: multiple pipelines can be passed as arg to check or deploy
  deployer/cli.py
Due: ruff-isort, ruff-format, ruff-check

fix: pipeline name callback to check whether at least one value is provided
  .github/workflows/ci.yaml
  deployer/cli.py
Due: ruff-isort, ruff-format, ruff-check

fix: cli false argument not rendered well in config cmd
  deployer/utils/utils.py
Due: ruff-isort, ruff-format, ruff-check

fix: check cmd
  deployer/cli.py
Due: ruff-isort, ruff-format, ruff-check

ci: add 'enh' to commit parsing for releases
  pyproject.toml
Due: none

fix: update docs and create comand can create multiple pipelines
  deployer/cli.py
  docs/CLI_REFERENCE.md
Due: ruff-isort, ruff-format, ruff-check, codespell

enh: deploy multiple pipelines at once (#149)
  .github/workflows/ci.yaml
  deployer/cli.py
  deployer/utils/utils.py
  docs/CLI_REFERENCE.md
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, codespell

fix: init command failing
  deployer/cli.py
  deployer/utils/console.py
Due: ruff-isort, ruff-format, ruff-check

test: fix tests for ask_user_for_model_fields
  deployer/utils/console.py
  tests/unit_tests/test_console.py
Due: ruff-isort, ruff-format, ruff-check

fix: rm print settings statement
  deployer/utils/config.py
Due: ruff-isort, ruff-format, ruff-check

fix: rebase
  deployer/cli.py
Due: ruff-isort, ruff-format, ruff-check

ci: deploy docs when push on main
  .github/workflows/deploy_docs.yaml
Due: none

ci: deploy docs when push on main (#151)
  .github/workflows/deploy_docs.yaml
Due: none

fix: init command failing (#147)
  deployer/cli.py
  deployer/utils/config.py
  deployer/utils/console.py
  tests/unit_tests/test_console.py
Due: ruff-isort, ruff-format, ruff-check

docs: update cli reference
  README.md
  docs/CLI_REFERENCE.md
Due: codespell

docs: fix toml vertex_deploeyr
  docs/configuration.md
Due: codespell

docs: update cli reference (#150)
  README.md
  docs/CLI_REFERENCE.md
  docs/configuration.md
Due: codespell

ci: update changelog template
  templates/CHANGELOG.md.j2
Due: none

ci: update changelog template (#154)
  templates/CHANGELOG.md.j2
Due: none

chore(release): 0.4.2
  CHANGELOG.md
  deployer/__init__.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, codespell

docs: fix mkdocs format in cli ref
  docs/CLI_REFERENCE.md
Due: codespell

ci: update changelog and release notes templates
  templates/.release_notes.md.j2
Due: none

ci: update docs deployment trigger to release published
  .github/workflows/deploy_docs.yaml
Due: none

ci: update docs deployment trigger to be triggered manually if need be
  .github/workflows/deploy_docs.yaml
Due: none

ci: fix deploy docs workflow trigger (#156)
  .github/workflows/deploy_docs.yaml
  docs/CLI_REFERENCE.md
  templates/.release_notes.md.j2
Due: codespell

fix: inspect value empty for defaults in check cmd
  deployer/utils/models.py
Due: ruff-isort, ruff-format, ruff-check

fix: use Parameter api instead of internal _empty value
  deployer/utils/models.py
Due: ruff-isort, ruff-format, ruff-check

fix: inspect value empty for defaults in check cmd (#159)
  deployer/utils/models.py
Due: ruff-isort, ruff-format, ruff-check

fix: instanciate list only if not ixisting when paring errors
  deployer/utils/utils.py
Due: ruff-isort, ruff-format, ruff-check

fix: instanciate list only if not ixisting when paring errors (#161)
  deployer/utils/utils.py
Due: ruff-isort, ruff-format, ruff-check

chore(release): 0.4.3
  CHANGELOG.md
  deployer/__init__.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, codespell
