Repository artefactory/vertex-pipelines-deployer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-isort, ruff-format, ruff-check, nbstripout, codespell

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
default_stages: [commit, push]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-toml
    - id: check-json
    - id: check-added-large-files
  - repo: local
    hooks:
    - id: ruff-isort
      name: ruff isort
      entry: poetry run ruff check --fix --select I --config pyproject.toml --show-fixes
      types: [python]
      language: system
      stages: [commit, push]
    - id: ruff-format
      name: ruff format
      entry: poetry run ruff format --config pyproject.toml
      types: [python]
      language: system
      stages: [commit, push]
    - id: ruff-check
      name: ruff check
      entry: poetry run ruff check --config pyproject.toml
      types: [python]
      language: system
      stages: [commit, push]
    - id: nbstripout
      name: Strip Jupyter notebook output (nbstripout)
      entry: poetry run nbstripout
      types: [file]
      files: (.ipynb)$
      language: system
      stages: [commit, push]
    - id: codespell
      name: codespell markdown
      entry: poetry run codespell -S CHANGELOG.md
      types: [markdown]
      language: system
      stages: [commit, push]
    - id: check-cli-documentation-updated
      name: check cli documentation updated
      entry: poetry run typer deployer/cli.py utils docs --output docs/CLI_REFERENCE.md --name vertex-deployer
      pass_filenames: false
      language: system
      stages: [push]

precommits
  deployer/pipeline_deployer.py
  deployer/settings.py
  docs/CLI_REFERENCE.md
Due: ruff-isort, ruff-format, ruff-check, codespell

renaming the constant
  deployer/constants.py
  deployer/pipeline_deployer.py
Due: ruff-isort, ruff-format, ruff-check

correcting spelling mistake in page name (docs)
  mkdocs.yml
Due: none

amending the example readme
  example/README.md
Due: codespell

spelling correction on a comment
  README.md
Due: codespell

chore: ak repo explo (#186)
  README.md
  deployer/_templates/deployer.env.jinja
  deployer/_templates/deployment/Dockerfile.jinja
  deployer/_templates/requirements-vertex.txt.jinja
  deployer/pipeline_deployer.py
  example/README.md
  example/example.env
  example/vertex/deployment/cloudbuild_cd.yaml
  mkdocs.yml
Due: ruff-isort, ruff-format, ruff-check, codespell

removing underscore for all run names, to respect pattern
  deployer/pipeline_deployer.py
Due: ruff-isort, ruff-format, ruff-check

enh: rename pipeline UI (#187)
  deployer/cli.py
  deployer/constants.py
  deployer/pipeline_deployer.py
  deployer/settings.py
  docs/CLI_REFERENCE.md
  tests/integration_tests/test_init.py
Due: ruff-isort, ruff-format, ruff-check, codespell

ci: fix semantic release version
  .github/workflows/release.yaml
Due: none

ci: fix semantic release version (#190)
  .github/workflows/release.yaml
Due: none

ci: fix semantic release python version
  .github/workflows/release.yaml
  pyproject.toml
Due: none

ci: fix semantic release python version (#191)
  .github/workflows/release.yaml
  pyproject.toml
Due: none

build: python 3.11 3.12
  .github/workflows/ci.yaml
  pyproject.toml
Due: none

ci: set python semantic release version
  .github/workflows/release.yaml
Due: none

chore(release): 0.5.1
  CHANGELOG.md
  deployer/__init__.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, codespell

build: fix numpy issue
  pyproject.toml
Due: none

enh: add yaml support
  deployer/utils/config.py
  docs/configuration.md
  mkdocs.yml
Due: ruff-isort, ruff-format, ruff-check, codespell

docs: update cli doc
  docs/CLI_REFERENCE.md
Due: codespell

docs: update readme
  README.md
Due: codespell

enh: pr agent suggestions
  deployer/utils/config.py
  mkdocs.yml
Due: ruff-isort, ruff-format, ruff-check

enh: add yaml support (#193)
  README.md
  deployer/utils/config.py
  docs/CLI_REFERENCE.md
  docs/configuration.md
  mkdocs.yml
Due: ruff-isort, ruff-format, ruff-check, codespell

chore(release): 0.5.2
  CHANGELOG.md
  deployer/__init__.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, codespell

fix: pydantic update to create_model in 2.8.0
  deployer/utils/models.py
Due: ruff-isort, ruff-format, ruff-check

fix: pydantic version constrained to avoid this again
  pyproject.toml
Due: none

fix: pydantic update 2.8.0 (#197)
  deployer/utils/models.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check

chore(release): 0.5.3
  CHANGELOG.md
  deployer/__init__.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, codespell

ci: ruff .6 issues
  .pre-commit-config.yaml
  deployer/utils/console.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check

test: fix tests
  deployer/utils/console.py
Due: ruff-isort, ruff-format, ruff-check

fix: yaml and templates
  deployer/_templates/components/dummy_component.py
  deployer/_templates/configs/config.json
  deployer/_templates/configs/config.py
  deployer/_templates/configs/config.toml
  deployer/_templates/configs/config.yaml
  deployer/_templates/deployer.env
  deployer/_templates/deployment/Dockerfile
  deployer/_templates/pipelines/pipeline_minimal.py.jinja
  deployer/cli.py
  deployer/constants.py
  deployer/utils/config.py
Due: ruff-isort, ruff-format, ruff-check

fix: config files integration tests for init
  deployer/cli.py
  deployer/constants.py
  tests/integration_tests/test_init.py
Due: ruff-isort, ruff-format, ruff-check

fix: yaml and init templates (#205)
  deployer/_templates/components/dummy_component.py
  deployer/_templates/configs/config.json
  deployer/_templates/configs/config.py
  deployer/_templates/configs/config.toml
  deployer/_templates/configs/config.yaml
  deployer/_templates/deployer.env
  deployer/_templates/deployment/Dockerfile
  deployer/_templates/pipelines/pipeline_minimal.py.jinja
  deployer/cli.py
  deployer/constants.py
  deployer/utils/config.py
  tests/integration_tests/test_init.py
Due: ruff-isort, ruff-format, ruff-check

fix: add for config file type in init
  deployer/cli.py
  deployer/settings.py
  docs/CLI_REFERENCE.md
Due: ruff-isort, ruff-format, ruff-check, codespell

tests: fix tests
  deployer/cli.py
  deployer/constants.py
  tests/integration_tests/test_init.py
Due: ruff-isort, ruff-format, ruff-check

ci: update semantic release branches rules
  pyproject.toml
Due: none

ci: add ci cd to pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: codespell
