Repository artefactory/vertex-pipelines-deployer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-isort, ruff-format, ruff-check, nbstripout, codespell

ruff-isort:
  name: ruff isort
  entry: poetry run ruff check --fix --select I --config pyproject.toml --show-fixes
  language: system
  stages:
  - commit
  - push

ruff-format:
  name: ruff format
  entry: poetry run ruff format --config pyproject.toml
  language: system
  stages:
  - commit
  - push

ruff-check:
  name: ruff check
  entry: poetry run ruff check --config pyproject.toml
  language: system
  stages:
  - commit
  - push

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: poetry run nbstripout
  language: system
  stages:
  - commit
  - push

codespell:
  name: codespell markdown
  entry: poetry run codespell -S CHANGELOG.md
  language: system
  stages:
  - commit
  - push

fix: None default values
  deployer/utils/console.py
Due: ruff-isort, ruff-format, ruff-check

fea: add a flag for default init
  deployer/cli.py
  deployer/init_deployer.py
  deployer/settings.py
  docs/CLI_REFERENCE.md
Due: ruff-isort, ruff-format, ruff-check, codespell

fix: default config in create
  deployer/cli.py
  docs/CLI_REFERENCE.md
Due: ruff-isort, ruff-format, ruff-check, codespell

feat: improve init (#173)
  README.md
  deployer/_templates/components/dummy_component.py.jinja
  deployer/_templates/configs/json_config.json.jinja
  deployer/_templates/configs/python_config.py.jinja
  deployer/_templates/configs/toml_config.toml.jinja
  deployer/_templates/deployer.env.jinja
  deployer/_templates/deployment/Dockerfile.jinja
  deployer/_templates/deployment/build_base_image.sh.jinja
  deployer/_templates/deployment/cloudbuild_local.yaml.jinja
  deployer/_templates/pipelines/pipeline_minimal.py.jinja
  deployer/_templates/requirements-vertex.txt.jinja
  deployer/cli.py
  deployer/constants.py
  deployer/init_deployer.py
  deployer/pipeline_checks.py
  deployer/pipeline_deployer.py
  deployer/settings.py
  deployer/utils/config.py
  deployer/utils/console.py
  deployer/utils/exceptions.py
  docs/CLI_REFERENCE.md
  example/Makefile
  pyproject.toml
  tests/integration_tests/test_configuration.py
  tests/unit_tests/test_settings.py
Due: ruff-isort, ruff-format, ruff-check, codespell

fix: rm black badge and add download / month
  README.md
Due: codespell

chore: update badges
  README.md
  docs/index.md
Due: codespell

enh: color for downloads
  README.md
Due: codespell

docs: improve readme badges (#180)
  README.md
  docs/index.md
Due: codespell

chore(release): 0.5.0
  CHANGELOG.md
  deployer/__init__.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, codespell

fea: added new tests, unit and integration
  deployer/constants.py
  deployer/init_deployer.py
  tests/integration_tests/test_init.py
  tests/unit_tests/input_files/folder/template2.yaml.jinja
  tests/unit_tests/input_files/template1.txt.jinja
  tests/unit_tests/input_files/template3.env.jinja
  tests/unit_tests/test_init_deployer.py
Due: ruff-isort, ruff-format, ruff-check

added new assertions to check structure
  tests/integration_tests/test_init.py
Due: ruff-isort, ruff-format, ruff-check

harmonize tmp dir test
  deployer/constants.py
  tests/conftest.py
  tests/integration_tests/test_init.py
  tests/unit_tests/test_init_deployer.py
  tests/unit_tests/test_utils.py
Due: ruff-isort, ruff-format, ruff-check

check no None in pyproject
  tests/integration_tests/test_init.py
Due: ruff-isort, ruff-format, ruff-check

improvement: add tests init (#182)
  deployer/init_deployer.py
  tests/conftest.py
  tests/integration_tests/test_init.py
  tests/unit_tests/input_files/folder/template2.yaml.jinja
  tests/unit_tests/input_files/template1.txt.jinja
  tests/unit_tests/input_files/template3.env.jinja
  tests/unit_tests/test_init_deployer.py
  tests/unit_tests/test_utils.py
Due: ruff-isort, ruff-format, ruff-check

change default artifact repositories names to valid names (gcloud error)
  example/example.env
Due: none

include env file in makefile
  example/Makefile
  example/example.env
Due: none

activate the poetry environment
  README.md
Due: codespell

adding possibility to rename the pipeline in the UI
  deployer/cli.py
  deployer/pipeline_deployer.py
Due: ruff-isort, ruff-format, ruff-check

CLI docs updated
  docs/CLI_REFERENCE.md
Due: codespell

changing template to avoid makefile errors (comments on separate lines)
  deployer/_templates/deployer.env.jinja
Due: none

insisting on the init command
  README.md
Due: codespell

adding basic instructions in example Readme
  example/Makefile
  example/README.md
  example/example.env
Due: codespell

orthograph correction
  deployer/pipeline_deployer.py
Due: ruff-isort, ruff-format, ruff-check

correcting cron specification & putting command on multilines
  example/vertex/deployment/cloudbuild_cd.yaml
Due: none

adding doc in example readme on how to use the makefile
  example/README.md
Due: codespell

formatting and cleaning the readme
  README.md
  example/Makefile
Due: codespell

removing unnecessary empty line
  README.md
Due: codespell

adding tags in the ui display name
  deployer/cli.py
  deployer/pipeline_deployer.py
Due: ruff-isort, ruff-format, ruff-check

updating docs
  docs/CLI_REFERENCE.md
Due: codespell

adding the display name in the pydantic model
  deployer/settings.py
Due: ruff-isort, ruff-format, ruff-check

correcting pytest
  tests/integration_tests/test_init.py
Due: ruff-isort, ruff-format, ruff-check

vertex init and structure created in new folder
  tutorial/tutorial_to_replicate/requirements-vertex.txt
  tutorial/tutorial_to_replicate/vertex/configs/my_first_pipeline/test.py
  tutorial/tutorial_to_replicate/vertex/deployment/Dockerfile
  tutorial/tutorial_to_replicate/vertex/deployment/build_base_image.sh
  tutorial/tutorial_to_replicate/vertex/deployment/cloudbuild_local.yaml
  tutorial/tutorial_to_replicate/vertex/pipelines/my_first_pipeline.py
Due: ruff-isort, ruff-format, ruff-check

adding components
  tutorial/tutorial_to_replicate/vertex/components/load_data.py
  tutorial/tutorial_to_replicate/vertex/components/save_data.py
  tutorial/tutorial_to_replicate/vertex/components/transform_data.py
Due: ruff-isort, ruff-format, ruff-check

corrected deployment templates
  deployer/_templates/deployment/Dockerfile.jinja
  deployer/_templates/requirements-vertex.txt.jinja
Due: none

corrections
  deployer/_templates/deployment/Dockerfile.jinja
  deployer/_templates/requirements-vertex.txt.jinja
Due: none

adding a readme for the tutorial; base for the docs
  tutorial/tutorial_to_replicate/Readme.md
Due: codespell

removing cloud logging; replaced by loguru (in tutorial)
  tutorial/tutorial_to_replicate/requirements.txt
  tutorial/tutorial_to_replicate/vertex/lib/bigquery.py
  tutorial/tutorial_to_replicate/vertex/lib/transform_data.py
Due: ruff-isort, ruff-format, ruff-check

adding the pyproject toml for the tutorial
  tutorial/tutorial_to_replicate/pyproject.toml
Due: none

renaming the arg to run name
  deployer/cli.py
Due: ruff-isort, ruff-format, ruff-check

adding validation check
  deployer/constants.py
  deployer/pipeline_deployer.py
Due: ruff-isort, ruff-format, ruff-check

Path conditions:
  ruff-isort: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  nbstripout: any of: (.ipynb)$
  codespell: any of: \.(md|markdown|mdown)$
