Repository artefactory/vertex-pipelines-deployer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-isort, ruff-format, ruff-check, nbstripout, codespell

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
default_stages: [commit, push]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-toml
    - id: check-json
    - id: check-added-large-files
  - repo: local
    hooks:
    - id: ruff-isort
      name: ruff isort
      entry: poetry run ruff check --fix --select I --config pyproject.toml --show-fixes
      types: [python]
      language: system
      stages: [commit, push]
    - id: ruff-format
      name: ruff format
      entry: poetry run ruff format --config pyproject.toml
      types: [python]
      language: system
      stages: [commit, push]
    - id: ruff-check
      name: ruff check
      entry: poetry run ruff check --config pyproject.toml
      types: [python]
      language: system
      stages: [commit, push]
    - id: nbstripout
      name: Strip Jupyter notebook output (nbstripout)
      entry: poetry run nbstripout
      types: [file]
      files: (.ipynb)$
      language: system
      stages: [commit, push]
    - id: codespell
      name: codespell markdown
      entry: poetry run codespell -S CHANGELOG.md
      types: [markdown]
      language: system
      stages: [commit, push]
    - id: check-cli-documentation-updated
      name: check cli documentation updated
      entry: poetry run typer deployer/cli.py utils docs --output docs/CLI_REFERENCE.md --name vertex-deployer
      pass_filenames: false
      language: system
      stages: [push]

enh: ask for config file type in init (#206)
  deployer/cli.py
  deployer/constants.py
  deployer/settings.py
  docs/CLI_REFERENCE.md
  tests/integration_tests/test_init.py
Due: ruff-isort, ruff-format, ruff-check, codespell

ci: update semantic release branches rules (#207)
  .github/PULL_REQUEST_TEMPLATE.md
  pyproject.toml
Due: codespell

ci: add empty files
  deployer/_templates/github-cd.yml
  deployer/_templates/gitlab-ci.yml
Due: none

docs: update to skaff style
  README.md
  docs/assets/logo.svg
  docs/index.md
  docs/stylesheets/extra.css
  docs/stylesheets/skaff.css
  mkdocs.yml
Due: codespell

docs: update to skaff style (#210)
  README.md
  docs/assets/logo.svg
  docs/index.md
  docs/stylesheets/extra.css
  docs/stylesheets/skaff.css
  mkdocs.yml
Due: codespell

build: fix numpy issue
  pyproject.toml
Due: none

ci: fix semantic release python version (#191)
  .github/workflows/release.yaml
  pyproject.toml
Due: none

build: python 3.11 3.12
  .github/workflows/ci.yaml
  pyproject.toml
Due: none

ci: fix semantic release version
  .github/workflows/release.yaml
Due: none

ci: fix semantic release version (#190)
  .github/workflows/release.yaml
Due: none

fix: init integration tests
  deployer/cli.py
Due: ruff-isort, ruff-format, ruff-check

chore: update python versions in CI
  .github/workflows/ci.yaml
Due: none

fix: type issue in tests and cli
  deployer/cli.py
  tests/integration_tests/test_init.py
Due: ruff-isort, ruff-format, ruff-check

chore: rm unused line
  tests/integration_tests/test_init.py
Due: ruff-isort, ruff-format, ruff-check

build(deps): add compatibility with python up to 3.12 (#192)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  deployer/cli.py
  pyproject.toml
  tests/integration_tests/test_init.py
Due: ruff-isort, ruff-format, ruff-check

chore(release): 0.5.4
  CHANGELOG.md
  deployer/__init__.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, codespell

docs: try termynal for some docs
  README.md
  docs/usage.md
  mkdocs.yml
Due: codespell

ci: set pr agent version to 0.24
  .github/workflows/pr_agent.yaml
Due: none

ci: rm pr agent auto review
  .github/workflows/pr_agent.yaml
Due: none

build(deps): actions/pr-agent set version to 0.24 (#218)
  .github/workflows/pr_agent.yaml
Due: none

ci: fix build command
  .github/workflows/release.yaml
  pyproject.toml
Due: none

docs: fix typo in deployer toml configuration
  README.md
Due: codespell

docs: add api ref using mkdocstrings
  deployer/pipeline_checks.py
  docs/advanced/advanced_user_guide.md
  docs/advanced/configuration.md
  docs/api/pipeline_checks.md
  docs/api/utils.md
  docs/api/vertex_deployer.md
  mkdocs.yml
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, codespell

docs: typo
  mkdocs.yml
Due: none

docs: typo url
  deployer/pipeline_checks.py
Due: ruff-isort, ruff-format, ruff-check

docs: add api ref using mkdocstrings (#231)
  deployer/pipeline_checks.py
  docs/advanced/advanced_user_guide.md
  docs/advanced/configuration.md
  docs/api/pipeline_checks.md
  docs/api/utils.md
  docs/api/vertex_deployer.md
  mkdocs.yml
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, codespell

enh: use undescreo instead of dahs in cron parsing
  deployer/cli.py
  docs/CLI_REFERENCE.md
Due: ruff-isort, ruff-format, ruff-check, codespell

fix: poetry version
  Makefile
Due: none

fix: pre-commit language version
  .pre-commit-config.yaml
Due: none

enh: use underscore instead of dash in cron parsing (#234)
  .pre-commit-config.yaml
  Makefile
  deployer/cli.py
  docs/CLI_REFERENCE.md
Due: ruff-isort, ruff-format, ruff-check, codespell

chore(release): 0.5.5
  CHANGELOG.md
  deployer/__init__.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check, codespell

docs: update mkdocstrings reqs
  deployer/utils/__init__.py
  pyproject.toml
Due: ruff-isort, ruff-format, ruff-check

fix: update broken documentation URL in skaff config
  .skaff/skaff.yaml
Due: none

fix: update actions/cache to v4 major tag to fix CI failures
  .github/workflows/ci.yaml
  .github/workflows/deploy_docs.yaml
Due: none

build: migrate from poetry to uv
  .github/workflows/ci.yaml
  .github/workflows/deploy_docs.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  README.md
  pyproject.toml
  uv.lock
Due: codespell
